*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: #FFFFFF;
  --surface: #F1F1F1;
  --surface-2: #E6E6E6;
  --surface-inv: #292929;
  --surface-2-inv: #A9A9A9;
  --text: #333333;
  --text-inv: #EEEEEE;
  --link: #3E7DDB;
  --radius-lg: 32px;
  --radius-md: 24px;
  --radius-sm: 16px;
}

@media (min-width: 1200px) {
  :root {
    --radius-lg: 40px;
    --radius-md: 32px;
    --radius-sm: 24px;
  }
}

[data-theme="dark"] {
  --bg: #151515;
  --surface: #292929;
  --surface-2: #353535;
  --surface-inv: #F1F1F1;
  --surface-2-inv: #CCCCCC;
  --text: #EEEEEE;
  --text-inv: #333333;
  --link: #7CB3FA;
}

html {
  background-color: var(--bg);
}

body {
  font-family: 'SF Pro Display', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  min-height: 100dvh;
}

.main {
  width: 100%;
  max-width: 540px;
  margin-top: 96px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
}

/* ── NAV ── */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: var(--bg);
  box-shadow: inset 0em -1px var(--surface-2);
}

.nav-tabs {
  display: flex;
  gap: 16px;
  padding: 0px 20px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-width: 540px;
  margin: 0 auto;
}

.nav-tabs::-webkit-scrollbar {
  display: none;
}

.tab {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  height: 48px;
  color: var(--text);
  text-decoration: none;
  position: relative;
  white-space: nowrap;
}

.tab.active::after,
.tab:hover::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 1.8px;
  background: var(--text);
  border-radius: 1px 1px 0px 0px;
}

@media (min-width: 1200px) {
  .nav-tabs {
    max-width: 1120px;
  }
  
  .main {
    max-width: 1120px;
  }

}