/* ── Typography ── */

.h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -1.04px;
}

.h2 {
  font-size: 44px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -0.88px;
}

.h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.56px;
}

.body-text {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.1px;
}